bootstrap.servers=javalab-eh-ns.servicebus.windows.net:9093
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="Endpoint=sb://javalab-eh-ns.servicebus.windows.net/;SharedAccessKeyName=listensendrule;SharedAccessKey=7IGPgzViafQKSO+x4SdogSOj4I4XpJZpuwslTcQ7xow=;EntityPath=telemetry";
